<div class="container m1">
    <div class="row">
        <div class="col-3">
            <img (click)="ght()" style="width: 100%;cursor: pointer;" src="./assets/img/logo.png" alt="logo">
        </div>
        <div class="col-9 t1">
            <div class="row">
                <div style="color:rgb(26,59,71)" class="col-sm-12 t2">Tokenify</div>
                <div style="color:rgb(26,59,71);padding-bottom: 2%;" class="col-sm-12 t3">The tool for data scientists of real world</div>
                <img style="width:80%" src="./assets/img/johndoe.png" alt="johndoe">
            </div>
        </div>

    </div>
</div>
